body {
    background-color: #dfe8f5;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    width: 1000px;
    margin: 20px auto;
    background-color: #ffffff;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

.left-panel {
    width: 30%;
    background-color: #4c8fd9;
    color: white;
}

.photo-panel img {
    width: 100%;
}

.text-content {
    padding: 15px;
}

.NCCU-logo {
    width: 20%;
    display: block;
    margin: 20px auto 0;
}

.right-panel {
    width: 70%;
    padding: 20px;
}


.section-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #666;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.edu-item {
    margin-bottom: 8px;
}

.year {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

.tag {
    display: inline-block;
    padding: 5px 12px;
    background-color: #eaf3ff;
    color: #2a4c7b;
    border-radius: 8px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.hw-lab-box {
    display: flex;
    gap: 15px;
}

.hw-column, .lab-column {
    width: 50%;
    background-color: #f6f7fc;
    padding: 12px;
    border-radius: 8px;
}

.hw-column a,
.lab-column a {
    color: #003d8f;
    text-decoration: none;
}

/* 滑過效果 */
.hw-column a:hover,
.lab-column a:hover {
    text-decoration: underline;
}

.music-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}

.music-item img {
    width: 80px;
    margin-bottom: 8px;
    border-radius: 10px;
}

.music-item {
    color: black;
    text-decoration: none;
    width: 22%;
}

.music-note {
    text-align: center;
    margin-top: 12px;
    font-style: italic;
}
